@model Club

<div class="col-lg-7 mb-4 mb-sm-0">
    <img alt="Image" src="@Model.Image" class="rounded img-fluid"/>
    <li class="breadcrumb-item active mt-3" aria-current="page">@Model.ClubCategory Club in @Model.Address.City, @Model.Address.Province</li>

<div class="text-justify mt-3">
    <h1 class="mb-2">@Model.Title</h1>
    <h2 class="ml-5 mt-2">@Model.Description</h2>
    <h3 class="font-weight-light mt-6">@Model.Address.City, @Model.Address.Province</h3>
    <h3 class="font-weight-light mt-2">@Model.ClubCategory </h3>
</div>
  