@using StartLine_social_network.Data.Enum
@model Party
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Are you sure you want to delete this item?</h1>
 
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="@Model.Image" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">@Model.Title</h3>
        <p>@Model.Description</p>
        <h3 class="my-3">Location</h3>
        <ul>
          <li>@Model.Address.City</li>
          <li>@Model.Address.Province</li>
          <li>@Model.PartyClubCategory</li>
        </ul>
      </div> 
    </div>

  <div class="form-group">
   <form action="Delete" method="post">
       <!-- posting hidden id-->
       <input type="hidden" asp-for="Id"/>
       <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3"/>
   </form>
  </div>
