@model Party


<li class="breadcrumb-item active" aria-current="page">@Model.PartyClubCategory Party in @Model.Address.City, @Model.Address.Province</li>

<div class="col-lg-7 mb-4 mb-sm-0">
    <img alt="Image" src="@Model.Image" class="rounded img-fluid"/>
        <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
            <h1 class="mb-2">@Model.Title</h1>
            <h1 class="mb-2">@Model.Description</h1>
            <h1 class="mb-2">@Model.EntryFee</h1>
            <h2 class="mb-2">@Model.Contact</h2>
            <h2 class="mb-2">@Model.Website</h2>
            <h2 class="mb-2">@Model.Facebook</h2>
            <h2 class="lead mb-3">@Model.Address.City, @Model.Address.Province</h2>
            <span class="badge badge-secondary mr-3">@Model.PartyClubCategory</span>
        </div>
    </div>
